{:deps {org.clojure/clojurescript {:mvn/version "1.10.339"}
        healthsamurai/ironhide    {:mvn/version "0.2.0"}
        reagent                   {:mvn/version "0.8.1"}}
 :aliases
 {:nrepl {:main-opts ["-e" "(require,'cider-nrepl.main)(require,'spyscope.core)(cider-nrepl.main/init,[\"refactor-nrepl.middleware/wrap-refactor\",\"cider.nrepl/cider-middleware\"])"]
          :extra-deps
          { ;; Figwheel ClojureScript REPL
           spyscope                      {:mvn/version "0.1.6"}
           com.cemerick/piggieback {:mvn/version "0.2.2"
                                    :exclusions  [com.google.javascript/closure-compiler]}
           figwheel-sidecar        {:mvn/version "0.5.14"
                                    :exclusions  [com.google.javascript/closure-compiler]}
           ;; CIDER compatible nREPL
           cider/cider-nrepl       {:mvn/version "0.17.0"}
           org.clojure/tools.nrepl {:mvn/version "0.2.13"}
           refactor-nrepl          {:mvn/version "2.4.0-SNAPSHOT"}}}
  :build {:main-opts ["build.clj" "build"]}}}

